@page
@model CM.Pages.EditPageModel
@{

}

<form method="post" enctype="multipart/form-data">

    <table class="table table-warning">
        <tr>
            <td>ID: @Model.curr.id</td>
        </tr>
        <tr>
            <td>Name: </td>
            <td><input type="text" class="form-control" asp-for="curr.name" name="nameForm" /></td>
        </tr>
        <tr>
            <td>Parent: </td>
            <td><input type="text" class="form-control" asp-for="curr.parent" name="parentForm" /></td>
        </tr>
        <tr>
            <td>HTML:</td>
            <td><textarea id="HTML" name="HTMLForm" asp-for="curr.htmlcontent" class="form-control" rows="4"></textarea></td>
        </tr>

        <tr>
            <td>Title:</td>
            <td><textarea id="HTML" name="titleForm" asp-for="curr.title" class="form-control" rows="4"></textarea></td>
        </tr>
        
        <tr>
            <td>Filename:</td>
            <td><textarea id="HTML" name="filenameForm" asp-for="curr.filename" class="form-control" rows="4"></textarea></td>
        </tr>
        
        <tr>
            <td>Has Content:</td>
            <td><input type="checkbox" name="checkbox" checked="curr.HasContent" id="checkbox1" runat="server" /></td>
        </tr>

    </table>

    <button type="submit">Edit</button>

</form>
